{{>header}}
<div class="form-container">
    <h2>Thống kê thu tháng</h2>
    <form id="statisticForm" method="post" action="/statistic">
     
      <label>Chọn tháng</label>
      <input type="date" id="edt_month" name="edt_month" placeholder="Chọn tháng"  required>

      <button type="submit" id="statisticButton">Thống kê</button>
    </form>
  </div>

{{#if statistic}}
<div style="display: flex; flex-direction: column; min-height: 100vh;">
  {{#if summary}}
    <p class="simple-paragraph">
      Tháng {{summary.month}} - Tổng thu {{ formatCurrency summary.totalByMonth  'vi-VN' 'VND'}}<br>
      
     </p>

    <table class="simple-table">
        <thead>
          <tr>
            <th>Loại phòng</th>
            <th>Thu</th>
            <th>Tỷ lệ</th>
          </tr>
        </thead>
        <tbody>
          {{#each summary.totalByCate}}
            <tr>
              <td>{{type}}</td>
              <td>{{formatCurrency income 'vi-VN' 'VND'}}</td>
              <td>{{tyle}} %</td>
              
            </tr>
          {{/each}}
        </tbody>
    </table>  
    
  {{/if}}
  <p class="simple-paragraph">Chi tiết</p>
<table class="simple-table">
  <thead>
    <th>Ngày thuê</th>
    <th>Ngày trả</th>
    <th>Phòng thuê</th>
    <th>Tiền thuê</th>
  </thead>
  {{#each statistic}}
    <tr>
      <th colspan="4">{{@key}}</th> 
    </tr>
    
    {{#each this}}
      
        <tr>
          <td>{{ngayThue}}</td>
          <td>{{ngayTra}}</td>
          <td>{{phongDaDat.formatTenPhong}}</td>
          <td>{{formatCurrency tongtien 'vi-VN' 'VND'}}</td>
        </tr>
     
    {{/each}}
     
  {{/each}}
</table>
</div>  

{{/if}}
{{>footer}}
