<div class="form-container">
    <h2>Thống kê</h2>
    <form id="statisticForm" method="post" action="/statistic">
     
      <label>Chọn thời gian</label>
      <input type="date" id="edt_month" name="edt_month" placeholder="Chọn tháng"  required>

      <button type="submit" id="statisticButton">Thống kê</button>
    </form>
</div>

{{!-- Month --}}
{{#if statisticMonth}}
<div style="display: flex; flex-direction: column; min-height: 100vh;">
  {{#if summaryMonth}}
    <p class="simple-paragraph">
      Tháng {{summaryMonth.date.month}}/{{summaryMonth.date.year}} - Tổng thu {{ formatCurrency summaryMonth.totalByMonth  'vi-VN' 'VND'}}<br>
      
     </p>

    <table class="simple-table">
        <thead>
          <tr>
            <th>Loại phòng</th>
            <th>Thu</th>
            <th>Tỷ lệ</th>
          </tr>
        </thead>
        <tbody>
          {{#each summaryMonth.totalByCate}}
            <tr>
              <td>{{type}}</td>
              <td>{{formatCurrency income 'vi-VN' 'VND'}}</td>
              <td>{{tyle}} %</td>
              
            </tr>
          {{/each}}
        </tbody>
    </table>  
    <p class="headline">Chi tiết</p>
      <table class="simple-table">
        <thead>
          <th>Ngày thuê</th>
          <th>Ngày trả</th>
          <th>Khách thuê</th>
          <th>Phòng thuê</th>
          <th>Tiền thuê</th>
        </thead>
        {{#each statisticMonth}}
          <tr>
            <th colspan="5">{{@key}}</th> 
          </tr>
          
          {{#each this}}
            
              <tr>
                <td>{{ngayThue}}</td>
                <td>{{ngayTra}}</td>
                <td>
                  Tên: {{khachDatPhong.hoTen}} <br>Sdt: {{khachDatPhong.dienThoai}}  
                </td>
                <td>{{phongDaDat.formatTenPhong}}<br>Giá: {{phongDaDat.formatGiaPhong}}</td>
                <td>{{formatCurrency tongtien 'vi-VN' 'VND'}}</td>
              </tr>
          
          {{/each}}
          
        {{/each}}
      </table>

  {{/if}}
  
</div>  

{{/if}}

{{!-- Year --}}

{{#if statisticYear}}
<div style="display: flex; flex-direction: column; min-height: 100vh;">
  {{#if summaryYear}}
    
    <p class="simple-paragraph">
      Năm {{summaryYear.date.year}} - Tổng thu {{ formatCurrency summaryYear.totalByYear  'vi-VN' 'VND'}}<br> 
     </p>  
     <table class="simple-table">
        <thead>
          <tr>
            <th>Tháng</th>
            <th>Thu</th>
            <th>Tỷ lệ</th>
          </tr>
        </thead>
        <tbody>
          {{#each summaryYear.totalByCate}}
            <tr>
              <td>{{type}}</td>
              <td>{{formatCurrency income 'vi-VN' 'VND'}}</td>
              <td>{{tyle}} %</td>
              
            </tr>
          {{/each}}
        </tbody>
    </table>


    <p class="headline">Chi tiết</p>

      <table class="simple-table">
        <thead>
          <th>Ngày thuê</th>
          <th>Ngày trả</th>
          <th>Khách thuê</th>
          <th>Phòng thuê</th>
          <th>Tiền thuê</th>
        </thead>
        {{#each statisticYear}}
          <tr>
            <th colspan="5">Tháng {{@key}}</th> 
          </tr>
          
          {{#each this}}
            
              <tr>
                <td>{{ngayThue}}</td>
                <td>{{ngayTra}}</td>
                <td>
                  Tên: {{khachDatPhong.hoTen}} <br>Sdt: {{khachDatPhong.dienThoai}}  
                </td>
                <td>{{phongDaDat.formatTenPhong}}<br>Giá: {{phongDaDat.formatGiaPhong}}</td>
                <td>{{formatCurrency tongtien 'vi-VN' 'VND'}}</td>
              </tr>
          
          {{/each}}
          
        {{/each}}
      </table>

  {{/if}}
  
</div>  

{{/if}}



