{{>header}}
<form id="searchForm" action="/search" method="post">
  <div class="search-container">
    <input type="text" id="inputSearch" name="keyword" placeholder="Tìm kiếm phòng..." />
    <button type="submit" id="searchButton">Tìm kiếm</button>
  </div>
</form>
<p class="center-text">{{message}}</p>
<div class="grid-container">
  {{#each listPhong}}
      <div class="grid-item">
        <img width="400px" height="200px" src="{{formatLinkHinh}}"/><br>
        {{formatTenPhong}} <br>
        Đơn giá: {{formatGiaPhong}} <br>
        Khách tối đa: {{loaiPhong.cauHinh.khachToiDa}} <br>
        {{trangThai}} <br>
      </div>
  {{/each}} 
  
</div>

{{>footer}}

