
{{#if orderDetail}}
<div class="form-container">
    <h2>Chi tiết đơn hàng</h2>
    <form id="orderDetailForm" method="post" action="/updateOrderDetail">
      <input type="hidden" id="edt_orderId" name="edt_orderId" value="{{orderDetail.id}}">
      
      <label>Ngày thuê</label>
      <input type="date" id="edt_ngayThue" name="edt_ngayThue" value="{{orderDetail.ngayThue}}" required>

      <label>Ngày trả</label>
      <input type="date" id="edt_ngayTra" name="edt_ngayTra" value="{{orderDetail.ngayTra}}" required>

      <label>Tổng tiền</label>
      <input type="text" id="edt_tongTien" name="edt_tongTien" value="{{orderDetail.tongtien}}" required>

      <button type="submit" id="updateButton">Cập nhật</button>
    </form>
  </div>
  

{{/if}}
{{#if toastMessage}}
  <div id="toast" class="toast">{{toastMessage}}</div>
{{/if}}
